<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705339786160-745nnlgbk1a3ci8d31it07vtraar9er1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705339786160-745nnlgbk1a3ci8d31it07vtraar9er1</string>
	<key>API_KEY</key>
	<string>AIzaSyCJR_AP6DW2XoiMxufKKqzg19aP6vBGwss</string>
	<key>GCM_SENDER_ID</key>
	<string>705339786160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>weather-app-bc3dd</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-bc3dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705339786160:ios:53deedf94e0eedf2088c75</string>
</dict>
</plist>